<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
      $(window).scroll(function() {
        var height = $(window).scrollTop();
        if (height > 100) {
          $('#back2Top').fadeIn();
        } else {
          $('#back2Top').fadeOut();
        }
      });
      $(document).ready(function() {
        $("#back2Top").click(function(event) {
          event.preventDefault();
          $("html, body").animate({ scrollTop: 0 }, "slow");
          return false;
        });
      });
    </script>
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name" style="margin-bottom:0.50em">Mat <a href="https://github.com/MatteoGiorgi" style="text-decoration:none"><img src="main_io_files/logo.svg" height="50px"></a> Teo</h1>
      
        <a href="#beep" class="btn">Beep-boop</a>
        <a href="#notes" class="btn">Computability notes</a>
        <a href="#attack" class="btn">Wiener attack</a>
        <a href="#config" class="btn">My GNU/Linux config</a>
        <a href="#asteroids" class="btn">Asteroids++</a>
        <a href="#oldies" class="btn">Old gear</a>
    </header>

    <section class="main-content">
      <a id="back2Top" title="Back to top" href="#">&#10148;</a>
      {{ content }}

      <footer class="site-footer" id=info>
        <center>
          <span class="site-footer-credits" style="line-height:30px">
            📚 <a href="https://github.com/MatteoGiorgi" style="text-decoration:none;color:#819198">matteogiorgi.github.io</a> &nbsp|&nbsp 🔗 <a href="https://github.com/MatteoGiorgi/matteogiorgi.github.io" style="text-decoration:none;color:#819198">page repo</a><br/>
            📫 matteo.giorgi@protonmail.com
        </span>
        </center>
      </footer>
    </section>
    
  </body>
</html>
